* {
    box-sizing: border-box;
    margin: 0%;
    
}
header {
    display: flex;
    align-items: right;
    justify-content:space-between;
    padding-top: 30px;
}
    header div{
        width: 600px;
        
    }

.navlink {
    list-style: none;
}
header ul{
    align-items: center;
    display: flex;
    padding-left: 30px;
    
}

a {
    text-decoration: none;
}

body {
    background-image: url(./assets/Object.png);
    background-repeat: no-repeat;
}

.grid{

    display: grid;
    
}

footer {
    color: white;
    background-color: rgb(11, 11, 49);

        text-align: right;
    
    }
    
    .trin{
        font-size: 120px;
        font-style: souliyo unicord;
        color: white;
    }
    
        color: blue;
    .go{
        font-style: italic;
        background-color: blueviolet;
    }